@use '../global' as global;

.swiper {
  width: 100%;
  height: 100%;
  // cardの影を表示するための処理
  padding: 3px;
}

.swiper-slide {
  display: flex;
  // justify-content: center;
  align-items: center;
  max-width: 280px;
  margin-left: 40px;

    @include global.mq(tab) {
      // max-width: 100%;
      margin-left: 0;
      justify-content: center;
    }

    @include global.mq(sp) {
      max-width: 100%;
    }
}